@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 14pt;



}

a {
    text-decoration: none;
    color: #222;
}

header {
    background-color: #070707f1;
    opacity: 0.9;
    color: #eee;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 25px;



}

header nav a {
    text-decoration: none;
    color: #ddb99d;
    padding: 10px;


}

header nav a:hover {
    border-bottom: solid 4px #ddb99d;
    color: #eee;

}

.right {
    text-align: right;

}

.flex-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.white {
    color: #eee;
}


.social-icons {
    padding-right: 20px;
}


.social-icons img {
    padding: 0 5px;
}

.carousel-item {
    background-color: #9e7989;
    height: 400px;
    position: relative;


}

.carousel-item .carousel-item-text {
    text-align: center;
    color: #eee;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;

}

.fontd {
    font-family: 'Great Vibes', cursive, sans-serif;
    text-align: center;
    padding-top: 80px;
    color: #fba700;


}

.centerfont {
    color: #2C1E21;
    text-align: center;
    font-family: 'Arvo', serif;
    letter-spacing: 5px;
    line-height: 63px;



}

.widget {
    color: #575659;
    text-align: center;
    font-family: "Libre Baskerville", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;




}

.button1 {
    font-family: 'Libre Baskerville', serif;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    padding: 12px 20px 11px 20px;
    border: 2px solid #FBA700;
    bottom: 50px;
    border-radius: 5px;



}

.button1:hover {
    color: whitesmoke;
    background-color: #C6A866;
}

.text {
    padding-left: 50px;
    padding-right: 50px;
}

samp {
    color: rgb(76, 147, 255);
    font-size: 30pt;
    font-family: 'Arvo', selif;
}

hr {
    border-top: 2px solid #FBA700;
}
@media (max-width:980px){
    .logo{
        display: none;
    }
    .flex-nav{
        flex-direction: column;
    }
    .flex-nav a{
        display: flex;
        justify-content: center;
    }
    .navbar-toggler-icon{
        background-image:url(/img/icons/bars-solid.svg);
    }
}